<html>
    <!-- Builds the framework for the head of the webpage -->
<head>
    <meta charset="UTF-8">
    <title>Basic Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_data_style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Main heading for webpage -->
    <div><h1>Invest.ED: Investment Education</h1></div>

        <div>
        <nav>
        <ul>
        <li><a href="/#basicData">Inspect a stock</a></li>
        <li><a href="/#stockROI">Stock ROI</a></li>
        <li><a href="/#data">Data source</a></li>
        <li><a href="/#about">About</a></li>
        </ul>
        </nav>
        </div>
<h2>{{basicTicker}} Data</h2>

<!-- Displays data on the earliest recorded date of the particular stock -->
<h3>Earliest Recorded Date of {{basicTicker}}: {{earlyDate}}</h3>
<p>
Low: {{earlyLow}} dollars per share<br>
High: {{earlyHigh}} dollars per share<br>
Open: {{earlyOpen}} dollars per share<br>
Close: {{earlyClose}} dollars per share<br>
Volume: {{earlyVolume}} shares
</p>

<!-- Displays data on the latest recorded date of the particular stock -->
<h3>Latest Recorded Date of {{basicTicker}}: {{lateDate}}</h3>
<p>
Low: {{lateLow}} dollars per share<br>
High: {{lateHigh}} dollars per share<br>
Open: {{lateOpen}} dollars per share<br>
Close: {{lateClose}} dollars per share<br>
Volume: {{lateVolume}} shares
</p>

<!-- Displays the day and value on which the all time high price that is recorded for the particular stock -->
<h3>Maximum Recored Value of {{basicTicker}}</h3>
<p>
Date of occurence: {{maxDay}}<br>
Maxiumum Recorded Price: {{max}} dollars per share
</p>

<!-- Displays the day and value on which the all time low price that is recorded for the particular stock -->
<h3>Minimum Recored Value of {{basicTicker}}</h3>
<p>
Date of occurence: {{minDay}}<br>
Minimum Recorded Price: {{min}} dollars per share
</p>

<!-- Home button -->
<form action="/">
    <input class="button" type="submit" value="Back to Home Page"/>
</form>

</body>
</html>