<html lang="en">

<head>

<title>Invest.ED</title>



<!-- Scripts are for the drop down suggestion features of the ticker input bar-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"> 
</script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{{ url_for('static', filename='style_mainpage.css') }}">
<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
 <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>

<!-- Styling for the body of the webpage begins here -->
<body>

    <div><h1>Invest.ED: Investment Education</h1></div>

    <div>
    <nav>
    <ul>
    <li><a href="/#customPortfolio">Investment Simulator</a></li>
    <li><a href="#basicData">Inspect a stock</a></li>
    <li><a href="#stockROI">Stock ROI</a></li>
    <li><a href="#data">Data source</a></li>
    <li><a href="#about">About</a></li>
    </ul>
    </nav>
    </div>
    
    <!-- HTML for Mock Portfolio section -->
    <div id="customPortfolio" class="citation">
        <h2 id="data">Investment Simulator</h2>
        <p>Think you can beat the market? Try our INVESTMENT SIMULATOR now!</p>
        <!-- Mock Portfolio Menu Button -->
        <form action="/mock_portfolio">
            <input class="button" type="submit" name="clear" value="Go To Mock Porfolio Menu"/>
        </form>
    </div>

    <!-- HTML for Inspect a Stock section -->
    <div id = "left" class="content">
        <h2 class="subtitle" id="basicData">Inspect a Stock</h2>
        
        <h3>Purpose:</h3>
        <p>Displays basic data of an inputted stock including data on the earliest and latest days recorded as well as the days where the maximum and minimum values were recorded.</p>
        
        <h3>How to Use:</h3>
        <ol>
            <li>Input a desired ticker.</li>
            <li>Press submit</li>
        </ol>
        
        <!-- Form used to input specified stock information -->
        <form class="inputfield" name="autcomplete_inspect" action="basicData" method="post">
            <label for="ticker">Stock Ticker:</label><br>
            <input type="text" id="ticker1" name="ticker" value="" required><br><br>
            
            <!-- Autocomplete feature for the ticker search bar -->
            <script>
                $( function() {
                    var availableTags = [
                        {% for ticker_symbol in tickers %}
                        "{{ticker_symbol}}",
                        {% endfor %}
                    ];
                    $( "#ticker1" ).autocomplete({
                        source: availableTags
                    });
                } );
                </script>
    
    <input class="button" type="submit" value="Submit">
</form>
</div>

    <!-- HTML for Stock ROI section -->
    <div id = "right" class="content">
        <h2 class="subtitle" id="stockROI">Stock ROI</h2>
        
        <h3>Purpose:</h3>
        <p>Displays a graph visualizing the input stock's ROI overtime.<br><br><br></p>
        
        <h3>How to Use:</h3>
        <ol>
            <li>Input a desired ticker.</li>
            <li>Press submit</li>
        </ol>

        <!-- <p>
            <br>
        </p> -->
        
        <!-- Form used to input specified stock information -->
        <form class="inputfield" name="autcomplete_ROI" action="stock_ROI" method="get">
            <label for="ticker">Stock Ticker:</label><br>
            <input type="text" id="ticker2" name="ticker" value="" required><br><br>
            
            <!-- Autocomplete feature for the ticker search bar -->
            <script>
                $( function() {
                    var availableTags = [
                        {% for ticker_symbol in tickers %}
                        "{{ticker_symbol}}",
                        {% endfor %}
                    ];
                    $( "#ticker2" ).autocomplete({
                        source: availableTags
                    });
                } );
                </script>
    <input class="button" type="submit" value="Submit">
</form>
</div>

<!-- HTML for Stock Market Dataset section -->
<div id="market" class="citation">
    <h2 id="data">Stock Market Dataset:</h2>
    <p>Brief Description: General US stock market data</p>
    <p>Source: <a href="https://www.kaggle.com/datasets/paultimothymooney/stock-market-data">Stock Market Data (NASDAQ, NYSE, S&P500). Version 57.</a></p>
    <p>Data sets used: S&P500 Folder, NASDAQ Folder</p>
    <p>Date Downloaded: April 11, 2022</p>
    <p>Authorship: Paul Mooney</p>
</div>

<!-- HTML for About section -->
<div id="about" class="citation">
<h2 class="subtitle" id="about">About Invest Education:</h2>
<p>
    The <b>purpose</b> of Invest Education is to help people learn about investments through providing both useful and informative investment tools.
    <b>Currently</b> the only implemented tool allows the user to inspect a specified stock value over the limited span of time that our stock data covers.
    <b>Future</b> tools of Invest Education include a stock comparison tool and a stock ROI tool displaying different investment strategies.
</p>
</div>


</body>

</html>
