<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>Custom Portfolio Performance</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'stock_ROI_graph_stylesheet.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

    </head>

    <body>
        <div><h1>Invest.ED: Investment Education</h1></div>

        <div>
        <nav>
        <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/#customPortfolio">Investment Simulator</a></li>
        <li><a href="/#basicData">Inspect a stock</a></li>
        <li><a href="/#stockROI">Stock ROI</a></li>
        <li><a href="/#data">Data source</a></li>
        <li><a href="/#about">About</a></li>
        </ul>
        </nav>
        </div>

        <h2>Your Custom Portfolio's Performance</h2>

        <p>
            ROI is in %
        </p>

        <p>
            SP100 Portfolio is a portfolio that invests in the 100 companies with the highest market cap, updated yearly.
        </p>

        <p>
            Monkey Portfolio is a portfolio chosen by a monkey throwing darts at ticker symbols.<br>
            All the available tickers are of the 1,000 companies with the largest market cap.<br>
            (Our market data contains around 1,500 companies in total)
        </p>

        <img src = "{{graph_image}}" alt = "A Line Graph Conveys Your Portfolio's ROI over Time">

    </body>

</html>