<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>{{ticker}} Yearly ROI</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'stock_ROI_graph_stylesheet.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

    </head>

    <body>
        <div><h1>Invest.ED: Investment Education</h1></div>

        <div>
        <nav>
        <ul>
        <li><a href="/#basicData">Inspect a stock</a></li>
        <li><a href="/#stockROI">Stock ROI</a></li>
        <li><a href="/#mockPortfolio">Mock Portfolio</a></li>
        <li><a href="/#data">Data source</a></li>
        <li><a href="/#about">About</a></li>
        </ul>
        </nav>
        </div>

        <h2>{{ticker}} Yearly Return on Investment (%)</h2>

        <!-- Home button -->
        <form action="/">
            <input class="button" type="submit" value="Back to Home Page"/>
        </form>

        <img src = "{{graph_image}}" alt = "A Bar Graph Displaying {{ticker}} Yearly Return on Investment">

    </body>

</html>