/* Body */
body {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    background-color: #d7dccc;
}

/*Head Banner*/
h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2f4540;
    color: #FEFEFF;
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 40px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 30px;
}

/* Styles border for navigation bar */
nav ul {
    border: 2px solid #2f4540;
    list-style-type: none;
    overflow: hidden;
}

/* Navigation bar list items to start at the left margin. */
nav li {
    float: left;
}

/* Create block on the navigation bar */
nav li a {
    display: block;
    color: #2f4540;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

/* When you mouse over something in the nav bar, turn it blue. */
nav li a:hover {
    color: white;
    background-color: #6a948a;
}

.button {
    background-color: white; /* Green */
    border: 2px solid navy;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

  .button:hover {
    background-color: green; /* Green */
    color: white;
}

/*Center Graph*/
img {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

