/* Sets the appearance for the intial heading of the webpage */
h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2f4540;
    color: white;
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 40px;
}

/* Styles border for navigation bar */
nav ul {
    border: 2px solid #2f4540;
    list-style-type: none;
    overflow: hidden;
}

/* Navigation bar list items to start at the left margin. */
nav li {
    float: left;
}

/* Create block on the navigation bar */
nav li a {
    display: block;
    color: #2f4540;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

/* When you mouse over something in the nav bar, turn it blue. */
nav li a:hover {
    color: white;
    background-color: #6a948a;
}

/* Creates margins and sets background color for page */
body {
    background-color: #d7dccc;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

/* Sets font */
h2 {
    font-family: Verdana, Geneva, sans-serif; 
}

/* Styles the left block displayed on the webpage */
#left {
    padding: 2%;
    float:left; 
    background:#6a948a;
    width:45%;
    height: 25em;
}
    
/* Styles the right block displayed on the webpage */
#right {
    padding: 2%;
    float:right;
    background:#6a948a;
    width:45%;
    height:25em;
}

/* Styles the citation for the stock data section */
#market {
    padding-top: 20%;
    margin-top: 20%;
}

/* Sets font */
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

/* Sets font and lineheight */
li {
    font-family: Verdana, Geneva, sans-serif; 
    line-height: 1.4;
}

.citation {
    margin:auto;
    padding-bottom: 20%;
}